body {
  background-color: antiquewhite;
  font-family: 'Press Start 2P', monospace;
}

.grid {
  display: grid;
  grid-template-columns: 350px 320px 200px;
  position: absolute;
  left: 50%;
  transform: translate(-70%,0);
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
  background-color: black;
}

.play-button {
  font-family: 'Press Start 2P', monospace;
  background-color: #290cd3;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

#pause-btn {
  font-family: 'Press Start 2P', monospace;
  background-color: aqua;
  display: none;
}